#clockContainer {
    position: relative;
    margin: auto;
    /* border: 2px solid red; */
    /* background-color: red; */
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}


#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 15%;
    top: 34%;
    left: 49%;
    opacity: 0.8;
    /* display: none; */
}

#minute {
    width: 1.5%;
    height: 20%;
    top: 30%;
    left: 49.1%;
    opacity: 0.8;
    /* display: none; */
}

#second {
    width: 1%;
    height: 25%;
    top: 24%;
    left: 49.4%;
    opacity: 0.8;
    /* display: none; */

}